In [1]:
import pandas as pd
data = [12, 3, 12, 4, 18, 17, 16, 13, 5, 4, 5, 7, 16, 15]
data1 = pd.DataFrame(data,columns=['Cyclones Flappy Bird Game'])
data1

    Cyclones Flappy Bird Game
0                          12
1                           3
2                          12
3                           4
4                          18
5                          17
6                          16
7                          13
8                           5
9                           4
10                          5
11                          7
12                         16
13                         15

In [2]:
data1.plot.box()

In [3]:
data1.mean()

Cyclones Flappy Bird Game    10.5
dtype: float64

In [4]:
data1.skew()

Cyclones Flappy Bird Game   -0.105873
dtype: float64

In [19]:
numRows = input("how many lines? ")

how many lines? 5

In [20]:
line = ""
index = 1
for i in range(int(numRows),0,-1):
    print(str(index)*i + " @>")
    index += 1

11111 @>
2222 @>
333 @>
44 @>
5 @>

In [23]:
def sum_range(a,b):
    total = 0
    min = a
    while a < b:
        total += a
        a += 1
    return total

In [26]:
sum_range(1,3)

3